<html>
    <head>
        <title>Paypal node app</title>
    </head>
    <body>
        <h1>paypal integration with NodeJS</h1>
        <h2>Buy click on below button</h2>

        <form action="/pay" method="post">
            <input type="submit" value=" PaypalBuy">

        </form>
    </body>
</html>